<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.dynamic.mapper.TestMapper">

	<select id="getTest2" resultType="com.pig4cloud.pigx.dynamic.vo.UserVO">
		SELECT * FROM user
	</select>
	<select id="getTest3" resultType="com.pig4cloud.pigx.dynamic.vo.UserVO">
		SELECT * FROM user
	</select>

</mapper>
